<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/geral.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
        </style>
        <title>
            Document
        </title>
    </head>
        <body>
            <header>
                <h1>TÍTULO DA PÁGINA</h1>
                <a href="#">LINK</a>
                <a href="#">LINK</a>
                <a href="#">LINK</a>
                <a href="#">LINK</a>
            </header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi tenetur nisi consectetur repellat voluptas suscipit ex, ullam cupiditate, maiores quos asperiores praesentium nihil illo nulla dolorem incidunt accusantium minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi tenetur nisi consectetur repellat voluptas suscipit ex, ullam cupiditate, maiores quos asperiores praesentium nihil illo nulla dolorem incidunt accusantium minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi tenetur nisi consectetur repellat voluptas suscipit ex, ullam cupiditate, maiores quos asperiores praesentium nihil illo nulla dolorem incidunt accusantium minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam modi tenetur nisi consectetur repellat voluptas suscipit ex, ullam cupiditate, maiores quos asperiores praesentium nihil illo nulla dolorem incidunt accusantium minus.</p>
        </body>
</html>