<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="flexbox.css">
    <title>FlexBox</title>
</head>
<body>
    <header>
            <img src="img/flexbox_logo.jpg" alt="FlexBox" id="logo">
            <nav>
              <ul>
                <li><a href="#" class="link-header">PRODUTOS</a></li>
                <li><a href="#" class="link-header">CATEGORIAS</a></li>
                <li><a href="#" class="link-header">PROMOÇÕES</a></li>
              </ul>
            </nav>
      </header>
      <main>
        <section class="banner">
            <h3 class="banner-text">O melhor livro sobre FlexBox</h3>
        </section>
        <section class="best-sellers">
            <h2>Mais Vendidos</h2>
            <div class="products-container">
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 1</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 2</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 3</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 4</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 5</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 6</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 7</h3>
                </div>
                <div class="product-card">
                    <img src="img/livro.jpg" alt="">
                    <h3>Livro 8</h3>
                </div>
            </div>
        </section>
        <footer>
            <h5>Siga-nos em nossas redes sociais</h5>
            <ul>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/youtube.svg">
                    </a>
                </li>
            </ul>

        </footer>
      </main>    
</body>
</html>