<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="block-container">
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
    </div>
    <div class="inline-container">
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
    </div>
    <div class="inline-block-container">
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
        <div>texto...</div>
    </div>

    <!-- 
        Elemntos do tipo block:
        div, p, h1, h2

        Elementos do tipo inline:
        span, i, em, strong, b

        Elementos do tipo inline-block:
        input, button, img
     -->
</body>
</html>